  <footer class="footer">
    <div class="container">
      <h5>QuickClass</h5>

      <ul class="links-list">
        <li><a href="/">Home</a></li>
        <li><a href="/#learn">Learn</a></li>
      </ul>

      <ul class="contact-list">
        <li><a href="mailto:info@thequickclass.com">info@thequickclass.com</a></li>
        <li><a rel="me" href="https://www.youtube.com/channel/UCkPD2P_BIBH5fdm2N-5c3aA">Youtube</a></li>
        <li><a href="https://twitter.com/thequickclass">Twitter</a></li>
        <li><a href="https://www.facebook.com/QuickClass-101917884510370/">Facebook</a></li>
      </ul>
    </div>
  </footer>

  <script src="app.js"></script>
  </body>
  </html>
