{{ partial "header" . }}

<main class="home">

  <div class="hero">
    <div class="container">
      <h1>QuickClass</h1>
      <h5>Watch | Learn | Speak</h5>
      <!--
      {{ partial "nav" . }}
      -->
    </div>
  </div>

  <div id="learn">
    <div class="container">
      <div class="section-title">Learn</div>

      <div class="learn-list">
        {{ range sort $.Site.Data.learn "priority" "asc" }}
        <a href="{{ .link }}" target="_blank" class="learn" id="{{ .id }}">
          <div class="img-container">
            <img src="/images/learn/{{ .image }}" />
          </div>

          <h5 class="title">{{ .title }}</h5>
        </a>
        {{ end }}
      </div>
    </div>
  </div>

</main>

{{ partial "footer" . }}
